{{ define "main" }}
  <article>
    {{ with .Params.hero }}
      {{ $hero := $.Resources.GetMatch . }}
      {{ with $hero }}
        <figure class="hero-image">
          <img src="{{ .RelPermalink }}" alt="{{ $.Params.hero_alt | default $.Title }}">
        </figure>
      {{ end }}
    {{ end }}
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      <span class="post-date">
        <time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date | time.Format "Jan 2, 2006" }}</time>
      </span>
      {{ with .Params.mood }}<span class="post-mood">{{ . }}</span>{{ end }}
      {{ with .Params.tags }}
        <div class="post-tags">
          {{ range . }}
            <a href="{{ "tags/" | relURL }}{{ . | urlize }}/" class="post-tag">{{ . }}</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
