<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="waterline"></div>
  <header class="site-header">
    <div class="header-inner">
      {{ partial "header.html" . }}
    </div>
  </header>
  <div class="container">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="site-footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
  {{ partialCached "head/js.html" . }}
</body>
</html>
